.row-attractions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-left: 200px;
    padding-bottom: 150px;
    gap: 30px;
    
  }
  
  .row-attractions .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: thick dashed rgb(255, 126, 33);
    margin: 0 10px; 
    font-weight: bold;
    font-family: "Poppins", sans-serif;
  }
  
  .row-attractions .col img {
    margin-bottom: 10px; 
  }

  .row-facilities {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-left: 200px;
    padding-bottom: 150px;
    gap: 30px;
  }

  .row-facilities .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: thick dashed rgb(255, 126, 33);
    margin: 0 10px; 
    font-weight: bold;
    font-family: "Poppins", sans-serif;
  }

  .row-facilities .col img {
    margin-bottom: 10px; 
  }