@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-reward-form {
    display: flex;
    flex-direction: column;
    background-color: rgb(87, 148, 108);
    width: 400px;
    height: 500px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    margin-right: 20px; 
}
.rewardScheme-title{
    font-family: "Poppins", sans-serif;
    font-weight:900;
    font-style: normal;
    color:rgb(255, 126, 33);
    padding-bottom: 100px;
}
.rewards-heading{
    color: rgb(87, 148, 108);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 35px;
    

}

.login-reward-image {
    margin-right: 200px; 
}

.login-reward-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.labels {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.login-reward-form button {
    padding: 20px;
    color: white;
    background-color: rgb(255, 126, 33);
    font-size: larger;
}

.login-reward-form input {
    margin-bottom: 10px;
}

.rewards-paragraphs{
    font-size: x-large;
}